
.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
  
  .slash {
    width: 15px;
    height: 4px;
    border-radius: 2px;
    background-color: #7f8c8d;
    display: block;
    cursor: pointer;
    transition: all 0.25s;
  }
  
  .slash:hover {
    background-color: #2ecc71;
  }
  
  .active-slash {
    background-color: #2ecc71;
  }
  
  