.dashboard {
    .card {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        gap: 0.5rem;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
        transition: all 0.25s;
        padding: 0.75rem 1.25rem;
    }
}