.interaction,
.interaction-dialog-container {
    .card {
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
        transition: all 0.25s;
        border-radius: 10px;
        border: 1px solid #d5dbdb;
        padding: 0.8rem 1rem;
    }

    .title {
        font-size: 1.25rem;
        font-weight: 500;
        color: $gray;
    }


    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
        gap: 1.5rem;
        width: 100%;
        padding-bottom: 2rem;
    }

    .header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0.5rem;
        border-bottom: #d5dbdb 1px solid;
    }

    .tag {
        color: #A6ACAF;
        background-color: #f6f6f6;
        font-weight: 500;
        padding: 0.15rem 0.5rem;
        border-radius: 10px;
        font-size: 0.75rem;
        border: 1px solid #A6ACAF;
    }

    .tag-label {
        font-weight: 500;
        font-size: 0.9rem;
        color: #34495e;
        text-decoration: underline;
    }

}
.interaction-dialog-container {
    display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1.5rem;


    .contact-infor {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .main-interaction {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .title-with-icon-field {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: larger;
        font-weight: 500;
    }
}