/* Import base */
.employee-avatar-round {
  display: block;
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 1.5rem 0 1rem 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.employee-avatar-round:hover {
  opacity: 80%;
}

.avatar-small {
  width: 100px;
  min-height: 120px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid transparent;
}

.avatar-small:hover {
  cursor: pointer;
  border: 1px solid rgba(69, 124, 161, 0.6196078431);
  opacity: 80%;
}

.avatar-side {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  gap: 1rem;
}

.employee-avatar-create {
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 450px;
  /* height: 280px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.25s;
}

.employee-avatar-create:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.employee-avatar-card {
  width: 120px;
  height: 100%;
  max-height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.employee-avatar-card:hover {
  opacity: 80%;
}

/* Color */
.card {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.25s;
  padding: 2.5rem 1.5rem;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.card-container {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}

.infor-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.break-line-cell {
  max-width: 180px;
  white-space: normal; /* Allows text to wrap */
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.inline-cell {
  max-width: 150px;
  padding-right: 0.5rem;
  overflow: hidden;
  text-overflow: clip;
  display: block;
}

.inline-cell-large {
  max-width: 400px;
  padding-right: 0.5rem;
  overflow: hidden;
  text-overflow: clip;
  display: block;
}

.inline-cell-dot {
  display: block;
  max-width: 150px;
  overflow: hidden; /* Hide any content that overflows */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  text-overflow: ellipsis;
}

.footer {
  width: 100%;
  padding: 6px 1rem;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #d5dbdb;
  position: sticky;
  /* Keep the position fixed at the bottom */
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Center the content horizontally */
  z-index: 100;
  /* Ensure the footer is layered on top of other content */
}

.flex-col-layout {
  padding: 0.5rem;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.25rem;
}

.flex-layout {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filter-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: end;
  -moz-column-gap: 15px;
       column-gap: 15px;
  width: 100%;
  justify-content: center;
  row-gap: 5px;
  width: 100%;
  padding: 0;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.icons-container {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
}

.circle,
.circle-card {
  width: 37.5px;
  height: 37.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.circle {
  background-color: #2ecc71;
}

.not-found-image {
  width: 90%;
  max-width: 600px;
}

.not-found-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.infor-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.status {
  padding: 0.25rem 0.4rem;
  border-radius: 3px;
  font-weight: 500;
  font-size: smaller;
  transition: all 0.2s ease-in-out;
}

.status:hover {
  opacity: 80%;
}

.absence,
.unpaid,
.cancel,
.low {
  color: #7F8C8D;
  background-color: #FBFCFC;
}

.inactive {
  background-color: #FBFCFC;
  color: #7F8C8D;
}

.suspended,
.expired,
.deleted,
.retired,
.high,
.blacklisted,
.disinterested,
.unreplied {
  background-color: #fdedec;
  color: #e74c3c;
}

.running,
.active,
.potential {
  color: #2ECC71;
  background-color: #EAFAF1;
}

.pending,
.optional,
.temporary,
.unkown,
.medium,
.current {
  background-color: #FEF9E7;
  color: #F1C40F;
}

.compulsory,
.permanent,
.new,
.vip {
  background-color: #F5EEF8;
  color: #9B59B6;
}

.accepted,
.paid {
  background-color: #F5EEF8;
  color: #3498DB;
}

.rejected {
  background-color: #FDEDEC;
  color: #E74C3C;
}

.relative {
  position: relative;
}

.absolute-position {
  position: absolute;
  top: 0;
  right: 0;
}

/* Flex utilities */
.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

/* Padding classes */
.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.p-8 {
  padding: 2rem;
}

/* Margin classes */
.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-4 {
  margin: 1rem;
}

.m-8 {
  margin: 2rem;
}

.text-bold {
  font-weight: bold;
}

.text-bolder {
  font-weight: bolder;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

/* Color */
.color-white {
  color: #ffffff;
}

.color-primary {
  color: #3498DB;
}

.color-success {
  color: #2ECC71;
}

.color-danger {
  color: #E74C3C;
}

.color-warning {
  color: #F1C40F;
}

.color-gray {
  color: #7F8C8D;
}

.color-gray-dark {
  color: #34495E;
}

.color-purple {
  color: #9B59B6;
}

/* Color */
.bg-color-white {
  background-color: #ffffff;
}

.bg-color-primary {
  background-color: #3498DB;
}

.bg-color-success {
  background-color: #2ECC71;
}

.bg-color-danger {
  background-color: #E74C3C;
}

.bg-color-warning {
  background-color: #F1C40F;
}

.bg-color-gray {
  background-color: #7F8C8D;
}

.bg-color-gray-dark {
  background-color: #34495E;
}

.bg-color-purple {
  background-color: #9B59B6;
}

.editable-icon {
  grid: grid;
  place-items: center;
  opacity: 0%;
  cursor: pointer;
  transition: all 0.25s;
}

.editable-content-div:hover .editable-icon {
  opacity: 80%;
}

.editable-content-div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.editable-control-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.control-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.icon-control-container {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  justify-content: center;
  background-color: #F4F6F7;
  border-radius: 3px;
  border: 1px #BDC3C7 solid;
  cursor: pointer;
}
.icon-control-container:hover {
  background-color: #F7F9F9;
}

vaadin-text-field {
  flex-grow: 1;
  /* Ensures the text field can expand as needed */
  width: 100%;
  /* Use 100% of its container's width */
}

/* Import CRM */
.interaction .card,
.interaction-dialog-container .card {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.25s;
  border-radius: 10px;
  border: 1px solid #d5dbdb;
  padding: 0.8rem 1rem;
}
.interaction .title,
.interaction-dialog-container .title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #34495E;
}
.interaction .grid-container,
.interaction-dialog-container .grid-container {
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 1.5rem;
  width: 100%;
  padding-bottom: 2rem;
}
.interaction .header,
.interaction-dialog-container .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: #d5dbdb 1px solid;
}
.interaction .tag,
.interaction-dialog-container .tag {
  color: #A6ACAF;
  background-color: #f6f6f6;
  font-weight: 500;
  padding: 0.15rem 0.5rem;
  border-radius: 10px;
  font-size: 0.75rem;
  border: 1px solid #A6ACAF;
}
.interaction .tag-label,
.interaction-dialog-container .tag-label {
  font-weight: 500;
  font-size: 0.9rem;
  color: #34495e;
  text-decoration: underline;
}

.interaction-dialog-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1.5rem;
}
.interaction-dialog-container .contact-infor {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.interaction-dialog-container .main-interaction {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.interaction-dialog-container .title-with-icon-field {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: larger;
  font-weight: 500;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.slash {
  width: 15px;
  height: 4px;
  border-radius: 2px;
  background-color: #7f8c8d;
  display: block;
  cursor: pointer;
  transition: all 0.25s;
}

.slash:hover {
  background-color: #2ecc71;
}

.active-slash {
  background-color: #2ecc71;
}

.dashboard .card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.25s;
  padding: 0.75rem 1.25rem;
}

/* Import HRM */
.contract-main-layout {
  width: 100%;
}

.contract-form-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  width: 100%;
  position: relative;
}
@media (min-width: 768px) {
  .contract-form-container {
    grid-template-columns: 7fr 3fr;
  }
}

/* Dashboard */
.dashboard .card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.25s;
  padding: 1.5rem 1.25rem;
}

/* Employee */
.employee-form-container {
  display: grid;
  grid-template-columns: 1fr;
  /* Set a single column as the default layout for small screens */
  gap: 2.5rem;
  width: 100%;
  position: relative;
}
@media (min-width: 768px) {
  .employee-form-container {
    grid-template-columns: 6fr 3fr;
  }
}

.employee-main-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}/*# sourceMappingURL=main.css.map */