.employee-avatar-round {
    display: block;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin: 1.5rem 0 1rem 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  }
  
  .employee-avatar-round:hover {
    opacity: 80%;
  }
  
  .avatar-small {
    width: 100px;
    min-height: 120px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    object-fit: cover;
    border: 1px solid transparent;
  }
  
  .avatar-small:hover {
    cursor: pointer;
    border: 1px solid #457ca19e;
    opacity: 80%;
  }
  
  .avatar-side {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    gap: 1rem;
  }
  
  .employee-avatar-create {
    border-radius: 6px;
    object-fit: cover;
    width: 100%;
    max-height: 450px;
    /* height: 280px; */
  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    transition: all 0.25s;
  }
  
  .employee-avatar-create:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }
  
  .employee-avatar-card {
    width: 120px;
    height: 100%;
    max-height: 180px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  }
  
  .employee-avatar-card:hover {
    opacity: 80%;
  }
  