/* Color */
$success: #58D68D;
$warning: #F1C40F;
$purple: #9B59B6;

//  light color
$white: #ffffff;
$light-gray-1: #FBFCFC;
$light-gray-2: #F7F9F9;
$light-gray-3: #F4F6F7;

// dark color
$dark-gray-1: #BDC3C7;
$dark-gray-2: #95A5A6;
$dark-gray-3: #7F8C8D;
$gray: #34495E;


// primary color
$primary: #3498DB;
$primary-dark-1: #2E86C1;
$primary-dark-2: #2874A6;

$primary-light: #EBF5FB;
$primary-light-1: #D6EAF8;
$primary-light-2: #AED6F1;

// danger
$danger: #E74C3C;
$danger-dark-1: #CB4335;
$danger-dark-2: #B03A2E;

$danger-light: #FDEDEC;
$danger-light-1: #FADBD8;
$danger-light-2: #F5B7B1;

// success
$success: #2ECC71;
$success-dark-1: #28B463;
$success-dark-2: #239B56;

$success-light: #EAFAF1;
$success-light-1: #D5F5E3;
$success-light-2: #ABEBC6;

// warning
$warning: #F1C40F;
$warning-dark-1: #D4AC0D;
$warning-dark-2: #B7950B;

$warning-light: #FEF9E7;
$warning-light-1: #FCF3CF;
$warning-light-2: #F9E79F;

// purple
$purple: #9B59B6;
$purple-dark-1: #884EA0;
$purple-dark-2: #76448A;

$purple-light: #F5EEF8;
$purple-light-1: #EBDEF0;
$purple-light-2: #D7BDE2;