//  EDITABLE COMPONENTS

.editable-icon {
    grid: grid;
    place-items: center;
    opacity: 0%;
    cursor: pointer;
    transition: all 0.25s;
}

.editable-content-div:hover .editable-icon {
    opacity: 80%;
}

.editable-content-div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
}

.editable-control-div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.control-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.icon-control-container {
    display: flex;
    align-items: center;
    padding: 0.25rem;
    justify-content: center;
    background-color: $light-gray-3;
    border-radius: 3px;
    border: 1px $dark-gray-1 solid;
    cursor: pointer;

    &:hover {
        background-color: $light-gray-2;
    }
}
vaadin-text-field {
    flex-grow: 1;
    /* Ensures the text field can expand as needed */
    width: 100%;
    /* Use 100% of its container's width */
}