
.infor-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .break-line-cell {
    max-width: 180px;
    white-space: normal; /* Allows text to wrap */
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
  
  .inline-cell {
    max-width: 150px;
    padding-right: 0.5rem;
    overflow: hidden;
    text-overflow: clip;
    display: block;
  }
  
  .inline-cell-large {
    max-width: 400px;
    padding-right: 0.5rem;
    overflow: hidden;
    text-overflow: clip;
    display: block;
  }
  
  .inline-cell-dot {
    display: block;
    max-width: 150px;
    overflow: hidden;       /* Hide any content that overflows */
    white-space: nowrap;    /* Prevent text from wrapping to the next line */
    text-overflow: ellipsis; 
  }
  