.footer {
  width: 100%;
  padding: 6px 1rem;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #d5dbdb;
  position: sticky;
  /* Keep the position fixed at the bottom */
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Center the content horizontally */

  z-index: 100;
  /* Ensure the footer is layered on top of other content */
}

.flex-col-layout {
  padding: 0.5rem;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.25rem;
}

.flex-layout {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filter-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: end;
  column-gap: 15px;
  width: 100%;
  justify-content: center;
  row-gap: 5px;
  width: 100%;
  padding: 0;
}