.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.icons-container {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
}


.circle,
.circle-card {
    width: 37.5px;
    height: 37.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.circle {
    background-color: #2ecc71;

}

.not-found-image {
    width: 90%;
    max-width: 600px;
}

.not-found-layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.infor-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}