.status {
    padding: 0.25rem 0.4rem;
    border-radius: 3px;
    font-weight: 500;
    font-size: smaller;
    transition: all 0.2s ease-in-out;
}
//     POTENTIAL, CURRENT, VIP, SUPPORT, DISINTERESTED;
.status:hover {
    opacity: 80%;
}

.absence,
.unpaid,
.cancel,
.low {
    color: $dark-gray-3;
    background-color: $light-gray-1;
}

.inactive {
    background-color: $light-gray-1;
    color: $dark-gray-3;
}

.suspended,
.expired,
.deleted,
.retired,
.high,
.blacklisted,
.disinterested,
.unreplied {
    background-color: #fdedec;
    color: #e74c3c;
}

.running,
.active,
.potential {
    color: $success;
    background-color: $success-light;
}

.pending,
.optional,
.temporary,
.unkown,
.medium,
.current {
    background-color: $warning-light;
    color: $warning;
}

.compulsory,
.permanent,
.new,
.vip {
    background-color: $purple-light;
    color: $purple;
}

.accepted,
.paid {
    background-color: $purple-light;
    color: $primary;
}

.rejected {
    background-color: $danger-light;
    color: $danger;
}