.relative {
    position: relative;
}

.absolute-position {
    position: absolute;
    top: 0;
    right: 0;
}

/* Flex utilities */
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}
.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-1 {
    gap: 0.25rem;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-3 {
    gap: 0.75rem;
}

.gap-4 {
    gap: 1rem;
}

/* Padding classes */
.p-1 {
    padding: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-4 {
    padding: 1rem;
}

.p-8 {
    padding: 2rem;
}

/* Margin classes */
.m-1 {
    margin: 0.25rem;
}

.m-2 {
    margin: 0.5rem;
}

.m-4 {
    margin: 1rem;
}

.m-8 {
    margin: 2rem;
}

// Text
.text-bold {
    font-weight: bold;
}

.text-bolder {
    font-weight: bolder;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

/* Color */
.color-white {
    color: $white;
}
.color-primary {
    color: $primary;
}

.color-success {
    color: $success;
}

.color-danger {
    color: $danger;
}

.color-warning {
    color: $warning;
}

.color-gray {
    color: $dark-gray-3;
}

.color-gray-dark {
    color: $gray;
}

.color-purple {
    color: $purple;
}
/* Color */
.bg-color-white {
    background-color: $white;
}

.bg-color-primary {
    background-color: $primary;
}

.bg-color-success {
    background-color: $success;
}

.bg-color-danger {
    background-color: $danger;
}

.bg-color-warning {
    background-color: $warning;
}

.bg-color-gray {
    background-color: $dark-gray-3;
}

.bg-color-gray-dark {
    background-color: $gray;
}

.bg-color-purple {
    background-color: $purple;
}