.contract-main-layout {
    width: 100%;
}

.contract-form-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    width: 100%;
    position: relative;

    @media (min-width: 768px) {
        grid-template-columns: 7fr 3fr;
    }
}