/* Employee */
.employee-form-container {
    display: grid;
    grid-template-columns: 1fr;
    /* Set a single column as the default layout for small screens */
    gap: 2.5rem;
    width: 100%;
    position: relative;

    @media (min-width: 768px) {
        grid-template-columns: 6fr 3fr;
    }

}

.employee-main-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}